{% extends 'index.html' %}

{% block content %}
<div class="container">
    <h1 class="title">Tu carrito</h1>
    {% if carrito_items %}
        <table class="table">
            <thead class="table-header">
                <tr>
                    <th>Imagen</th>
                    <th>Libro</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
                {% for item in carrito_items %}
                    <tr class="table-row">
                        <td class="table-cell image-cell">
                            <img src="{{ item.book.cover_image.url }}" alt="{{ item.book.title }}" width="100">
                        </td>
                        <td class="table-cell">{{ item.book.title }}</td>
                        <td class="table-cell">${{ item.book.price }}</td>
                        <td class="table-cell">{{ item.quantity }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h3 class="subtitle">Total: ${{ total_amount }}</h3>
    {% else %}
        <p class="subtitle">Tu carrito está vacío.</p>
    {% endif %}
    <a href="{% url 'home' %}" class="link">Seguir comprando</a>
    <div class="row">
        <div class="col-12">
            <a href="{{ payment_url }}" target="_blank">
                <button class="button">Pagar con Mercado Pago</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}
