{% extends 'index.html' %}

{% block content %}
<h1>Tu carrito</h1>
{% if carrito_items %}
    <table>
        <thead>
            <tr>
                <th>Imagen</th>
                <th>Libro</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in carrito_items %}
                <tr>
                    <td><img src="{{ item.book.image.url }}" alt="{{ item.book.title }}" width="100"></td>
                    <td>{{ item.book.title }}</td>
                    <td>${{ item.book.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>${{ item.quantity}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3>Total: ${{ total_amount }}</h3>
{% else %}
    <p>Tu carrito está vacío.</p>
{% endif %}
<a href="{% url 'home' %}">Seguir comprando</a>

<div class="row mt-4">
    <div class="col-12">
        <a href="{{ payment_url }}" target="_blank">
            <button class="btn btn-primary">Pagar con Mercado Pago</button>
        </a>
    </div>
</div>
{% endblock %}
