{% extends 'index.html' %}

{% load static %}

{% block content %}
<div class="book-detail-container">
    <div class="cont-book">
        <div class="book-content">
            <div class="details-book-cover">
                <img src="{{ book.cover_image.url }}" alt="{{ book.title }}" class="img-fluid">
            </div>
            <div class="title-details">
                <h1 class="book-title">{{ book.title }}</h1>
                <h2 class="book-author">{{ book.author.name }}</h2>
            </div>
        </div>
        
    
        <div class="buy-btn">
            {% if user.is_authenticated %}
            {% if not user.is_superuser %}
                <form action="{% url 'add_to_cart' book.book_id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn-carrito">Añadir al carrito</button>
                </form>
            {% else %}
                <a class="btn-carrito" href="{% url 'modificar_book' book_id=book.book_id %}">Modificar</a>
                <a class="btn-carrito" href="{% url 'delete_book' book_id=book.book_id %}">Eliminar</a>
            {% endif %}
            {% else %}
                <form action="{% url 'add_to_cart' book.book_id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn-carrito">Añadir al carrito</button>
                </form>
            {% endif %}
        </div>
    </div>
    

    <div class="book-extra-info">
        <div class="book-info">
            <div class="descrip-container">
                <h3 class="titulo">Descripción</h3>
                <p class="book-description">{{ book.description }}</p>
                <div class="descrip-container">
                    <h3 class="titulo">Género</h3>
                    <p class="book-description">{{ book.genre }}</p>
                </div>
            </div>
            <div class="details-container">
                <div>
                    <h3 class="titulo">Fecha de publicación</h3>
                    <p class="text">{{ book.publication_date }}</p>
                </div>
                <div class="metadata">
                    <h3 class="titulo">Idioma</h3>
                    <p class="text">{{ book.language }}</p>
                </div>
                <div>
                    <h3 class="titulo">Detalles</h3>
                    <p class="text">{{ book.page_count }} páginas <br>ISBN: {{ book.isbn }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
