{% extends 'index.html' %}

{% load static %}
{% block content %}
<h1 class="my-4">Lista de Productos</h1>

<div class="visualize-books-list">
    {% for book in books %}
        <div class="visualize-book-item">
            <a href="{% url 'book_detail' book.book_id %}">
                <img src="{{ book.cover_image.url }}" alt="{{ book.title }}" class="category-book-cover">
            </a>                    
            <h3 class="visualize-book-title">{{ book.title }}</h3>
        </div>
    {% empty %}
        <p>No hay productos disponibles.</p>
    {% endfor %}
</div>
{% endblock %}
