/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.5;
}

/* Header */

.navbar-nav ms-auto{
    align-content: center;
    display: flex;
    justify-content: flex-end;
}
.navbar-nav .nav-item{
    display: flex;
    align-items: center;
}

.navbar-nav .nav-link {
    color: #333;
    margin-left: 20px;
    font-weight: 500;
}

.navbar-nav .nav-link:hover {
    color: #ddd;
}

.navbar-nav .userlogo{
    width: 50px;
    height: 50px;
    margin-left: 15px;
}

.logotipo{
    width: 100px;
    height: auto;
}

.dropdown-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 10px; 
    width: 250px; 
  }
  
.dropdown-item {
    padding: 8px 12px; 
    text-align: left; 
  }


/* Banner */
.carousel {
    width: 95%;
    margin: 20px auto;
    border-radius: 40px;
    overflow: hidden;
}

.carousel-item {
    position: relative; /* Permite posicionar elementos dentro */
}

.carousel-item img {
    object-fit: contain;
    width: 100%;
    height: auto;
}

.carousel-caption {
    position: absolute; /* Posicionamiento absoluto dentro del contenedor */
    bottom: 20%; /* Espaciado desde el fondo */
    left: 50%; /* Centrado horizontal */
    transform: translateX(-50%); /* Asegura que esté perfectamente centrado */
    color: white;
    text-align: center; /* Centra el texto */
    z-index: 1; /* Asegura que el texto esté por encima de la imagen */
}

.btn-banner2 {
    border-radius: 20px;
    background-color: #007bff;
    color: #ffffff;
    text-decoration: none;
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px; /* Espacio entre el texto y el botón */
    transition: background-color 0.3s ease;
}

.btn-banner2:hover {
    background-color: #0056b3;
}


/* Títulos */
.banner_title {
    font-size: 2rem;
    font-weight: bold;
    color: #000; /* Negro */
}

.banner_subtitle {
    font-size: 1.2rem;
    color: #333; /* Gris oscuro */
}

/* Separator */
.separator {
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
    margin: 20px auto;
}

/* Main Content */
.main_content {
    width: 95%;          /* El ancho total será del 90% */
    padding: 20px;       /* Espaciado interno (padding) uniforme */
    margin: 0 auto;      /* Centra el contenido */
}


/* Intro Section */
.intro_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

.intro_section img {
    width: 100px;
    margin-bottom: 15px;
}

.store_info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.store_info p {
    font-size: 16px;
    color: #555;
    max-width: 80%;
    margin: 0 auto;
}
.genre-circles {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 30px;
}

.genre-circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #333;
}

.genre-circle img {
    width: 90px;
    height: 90px;
    padding: 10px;
    border-radius: 50%;
    object-fit: scale-down;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.genre-circle:hover img {
    transform: scale(1.1);
}

.genre-circle p {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #333;
}
.category-books-list {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 10px;
    gap: 4em;
}

.category-book-item {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 120px;
}

.category-book-cover {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}

.category-book-title {
    font-size: 16px;
    color: #333;
    margin: 0;
    max-width: 95%;
}

/* seccion abajo de categoria home */
.home-books-list {
    display: flex;              
    flex-wrap: wrap;            
    gap: 20px;                   /* Espacio entre los libros */
    justify-content: center;     /* Centra los libros en el contenedor */
}
  
.home-book-item {
  width: 200px;          
  text-align: center;          
  box-sizing: border-box;  
}
  
.home-book-cover {
  width: 100%;            
  height: auto;                
  border-radius: 8px;         
}
  
.home-book-title {
  margin-top: 10px;            
  font-size: 16px;             
  font-weight: bold;           
}
  



/* Contenedor principal */
.container {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Título de la página */
.page-title {
    text-align: center;
    color: #007bff;
    font-size: 2em;
    margin-bottom: 30px;
}

/* Contenedor de la lista de libros */
.book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Tarjeta de libro */
.book-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 30%;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

/* Efecto hover para las tarjetas */
.book-card:hover {
    transform: scale(1.05);
}

/* Imagen de portada */
.book-cover {
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/* Detalles del libro */
.book-details {
    padding: 15px;
}

/* Título del libro */
.book-title {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

/* Descripción del libro */
.book-description {
    color: #777;
    margin-bottom: 15px;
}

/* Información adicional del libro */
.book-info {
    color: #555;
    font-size: 0.9em;
    margin-bottom: 10px;
}

/* Precio y stock */
.book-info strong {
    color: #333;
}

/* Mensajes cuando no hay productos */
p {
    text-align: center;
    color: #ff8c00;
    font-size: 1.2em;
}



.container-add {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
}

form {
    font-family: 'Arial', sans-serif;
    color: #333;
    padding: 20px;
}

form textarea, form input {
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 12px;
    width: 100%;
    box-sizing: border-box;
    font-size: 1em;
    border: none;
    background-color: #f5f5f5;
    transition: all 0.3s ease;
}

/* Efecto de enfoque para los campos de entrada */
form input:focus, form textarea:focus {
    border-color: #007bff;
    background-color: #fff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Estilo para la sección del formulario de añadir producto */
.add-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #f1f1f1;  /* Borde gris claro */
}

/* Título del formulario */
.add-container h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

/* Imagen de la sección */
.add-image {
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 20px;
}

/* Estilos para el formulario */
.form-group {
    margin-bottom: 20px;
}

/* Estilo para los botones */
.btn {
    font-size: 1.1em;
    padding: 12px;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    color: white;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
    border: none;
    color: white;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

/* Estilo para los mensajes */
.message {
    text-align: center;
    color: #ff0000;
    font-weight: bold;
    margin-top: 20px;
}


/* Footer */
.footer {
    background-color: inherit;
    color: #333;
    padding: 40px 20px;
    font-size: 14px;
    text-align: center;
    border-top: 1px solid #e6e6e6;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    margin: 10px 0;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-column h4 {
    font-size: 16px;
    margin-bottom: 15px;
    color: #000;
    text-align: center; /* Centrado para el h4 */
}

.footer-column .item-col{
    text-align: left;
}

.footer-column .details-footer{
    text-align: center;
}

.footer-column p,
.footer-column li a {
    font-size: 14px;
    color: #333;
    line-height: 1.6;
    text-decoration: none;
    text-align: left;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin: 5px 0;
}

.footer-column a:hover {
    color: #4b4b4b;
}

.social-icons a {
    margin: 0 8px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

.social-icons a:hover {
    transform: scale(1.5);
    opacity: 0.8;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
    border-top: 1px solid #e6e6e6;
    padding-top: 10px;
}

