{% extends 'index.html' %}

{% block content %}
<h1>
  {% if genre %}
    Libros en la categoría {{ genre.name }}
  {% else %}
    Categoría no encontrada
  {% endif %}
</h1>

<div class="separator"></div>

<div class="category-books-list">
  {% for book in books %}
    <div class="category-book-item">
      <img src="{{ book.cover_image.url }}" alt="{{ book.title }}" class="category-book-cover">
      <h3 class="category-book-title">{{ book.title }}</h3>
    </div>
  {% empty %}
    <p>No hay libros en esta categoría.</p>
  {% endfor %}
</div>


{% endblock %}
