<!DOCTYPE html>
<html lang="es">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Librería</title>
    <!-- Hoja de Estilos -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Hoja de Estilos de Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <header class="header">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{% static 'img/index/logo.png' %}" alt="Logo" class="logotipo">
                </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'add' %}">Añadir</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{% url 'visualize' %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Productos
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="">Ficción</a></li>
                      <li><a class="dropdown-item" href="">No Ficción</a></li>
                      <li><a class="dropdown-item" href="">Infantiles</a></li>
                      <li><a class="dropdown-item" href="">Ciencia</a></li>
                      <li><a class="dropdown-item" href="">Historia</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'visualize' %}">Nosotros</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#contact_btn">Contacto</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>          
    </header>
    <section class="banner">
        {% block banner %}
        <img src="{% static 'img/banner/banner_image.jpg' %}" alt="Banner" class="banner_image">
        {% endblock %}
    </section>
    <main class="main_content">
        {% block content %}
        <div class="intro_section">
            <img src="{% static 'img/index/store.png' %}" alt="Store">
            <article class="store_info">
                <h2>Bienvenido a Nuestra Librería</h2>
                <p>Descubre una gran variedad de libros en diferentes géneros y de varios autores. Ofrecemos una
                    selección única para satisfacer el gusto de cada lector. ¡Explora nuestra colección y encuentra tu
                    próximo libro favorito!</p>
                <h4>Nuestra Misión</h4>
                <p>Nuestra misión es llevar la alegría de la lectura a todos. Desde los más vendidos hasta los libros 
                    raros, tenemos algo para cada amante de la lectura.</p>
            </article>
        </div>

        <div class="book_cards">
            <div class="book_card">
                <div class="book_card-inner">
                    <div class="book_card-front">
                        <img src="{% static 'img/books/genre1.jpg' %}" alt="Género 1">
                    </div>
                    <div class="book_card-back">
                        Descubre nuestra selección de novelas de misterio apasionantes. Perfectas para quienes disfrutan
                        del suspenso y la intriga.
                    </div>
                </div>
            </div>
            <div class="book_card">
                <div class="book_card-inner">
                    <div class="book_card-front">
                        <img src="{% static 'img/books/genre2.jpg' %}" alt="Género 2">
                    </div>
                    <div class="book_card-back">
                        Sumérgete en nuestra colección de libros de ciencia ficción. Explora nuevos mundos y aventuras
                        futuristas.
                    </div>
                </div>
            </div>
            <div class="book_card">
                <div class="book_card-inner">
                    <div class="book_card-front">
                        <img src="{% static 'img/books/genre3.jpg' %}" alt="Género 3">
                    </div>
                    <div class="book_card-back">
                        Disfruta de historias conmovedoras de nuestro género de romance. Ideal para aquellos que aman
                        los finales felices.
                    </div>
                </div>
            </div>
            <div class="book_card">
                <div class="book_card-inner">
                    <div class="book_card-front">
                        <img src="{% static 'img/books/genre4.jpg' %}" alt="Género 4">
                    </div>
                    <div class="book_card-back">
                        Aprende con nuestra extensa colección de libros educativos, que abarcan una amplia gama de temas.
                    </div>
                </div>
            </div>
        </div>
        
        <div class="products_section">
            {% for book in books %}
            <div class="card" style="width: 300px; margin-top: 20px;">
                <img src="{{book.cover_image}}" class="card-img-top" alt="Portada">
                <div class="card-body">
                  <h4 class="card-title">Título: {{book.title}}</h4>
                </div>
              </div>
            {% endfor %}
        </div>
        {% endblock %}
    </main>
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-column">
                <h4>Contacto</h4>
                <p>Tel: +54 9 11 1234 5678</p>
                <p>Email: contacto@libreria.com</p>
            </div>
            <div class="footer-column">
                <h4>Enlaces útiles</h4>
                <ul>
                    <li><a href="#nosotros">Nosotros</a></li>
                    <li><a href="#productos">Productos</a></li>
                    <li><a href="#contacto">Contacto</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>Redes Sociales</h4>
                <div class="social-icons">
                    <a href="#"><img src="{% static 'img/index/ig.png' %}" alt="Instagram"></a>
                    <a href="#"><img src="{% static 'img/index/facebook.png' %}" alt="Facebook"></a>
                    <a href="#"><img src="{% static 'img/index/whatsapp.png' %}" alt="WhatsApp"></a>
                    <a href="#"><img src="{% static 'img/index/gorjeo.png' %}" alt="Twitter"></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 Librería. Todos los derechos reservados.</p>
        </div>
    </footer>
    
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>
